<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="javascripts/sidr/stylesheets/jquery.sidr.dark.css">


<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600' rel='stylesheet' type='text/css'>

  <title>Stories</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>



<body>

 	 <a id="menu" href="#sidr">
  	<img alt="Open" class="icon-menu" src="/assets/menu-white.svg" width="24px" /></a>
 
<div id="sidr">
  <ul>
    <li><%= link_to'Home', "/home" %></li>
    <li><%= link_to'About', "/about" %></li>
    <li><%= link_to'Contact', "/contact" %></li>
  </ul>
  <img alt="Close" class="icon-close" src="/assets/close-white.svg" width="24px" /> </div>
	

<%= yield %>

<div class="footer"> 
 		 		<div class="container"> 
 		 			<p>A Shutterbugg Project</p> 
 		 		</div>
 		 		 </div> 
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script src="javascripts/jquery.js"></script>
    <script src="javascripts/sidr/jquery.sidr.min.js"></script>
</body>
</html>


